body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

.jumbotron {
  position:relative;
  overflow:hidden;
  background: none;
  max-height: 250px; 
}

.jumbotron .container {
  position:relative;
  z-index:2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  color: black;
  
}

.jumbotron .jumbotron-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/languagesgood.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    z-index: -1;
}

.mainButtons {
  position: relative; 
  height: 40px; 
  width: 150px;
  background-color: #F0FFFF;
  color: black;
  padding: 5px 5px;
  border: 2px solid;
  cursor: pointer;
  border-radius: 2px;
  border-color: #00BFFF;
  margin: 10px 10px 10px 10px;
}

.mainButtons:selected {
  border: none;
} 

/* .imageContent {
    float: left;
    margin: 10px;
}

#textFromImage {
    float: left;
    margin: 10px;
} */

.fileButton { 
    position: relative;
    margin: 10px 0px 10px 10px; 
    overflow: hidden;
}
.fileButton > input[type="file"] { 
    position: absoulte; 
    /* opacity: 100; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0;
    color:black; */
    display: none;
}
.fileButton > label {
    /* position: absolute; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-color:#F0FFFF;
    /* background-size: 100%; */
    color: black;
    padding: 7px 5px;
    border: 2px solid;
    cursor: pointer;
    border-radius: 2px;
    border-color: #00BFFF;
    height: 40px; 
    width: 150px;
    margin-right: 10px;
    /* vertical-align: middle; */
    
}

.fileButton > label:selected {
    border: none;
}

.buttonCol {
    /* align-content: center; */
  /* width: 33.33%; */
  float: left;
}

/* Clear floats after the columns */
.buttonRow {
    display:inline-table;
    text-align: center;
    /* align-items: center; */
    height: auto;
  /* content: ""; */
  /* display: table; */
  /* float: center; */
  /* clear: both; */
}

option:checked { 
    display:none; 
}

/* #checkmark {
    display: inline;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
} */

.selectButton {
    text-align-last:center;
    position: relative; 
    height: 40px; 
    width: 150px;
    background-color: #F0FFFF;
    color: black;
    padding: 7px 5px;
    border: 2px solid;
    cursor: pointer;
    border-radius: 2px;
    border-color: #00BFFF;
    margin: 10px 10px 10px 10px;
}