#content {
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

.jumbotron {
  position:relative;
  overflow:hidden;
  background: none;

}

.jumbotron .container {
  position:relative;
  z-index:2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.jumbotron .jumbotron-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/languagesgood.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    z-index: -1;
}

.button1 {
  background-color:rgb(255, 255, 255);
  color: black;
  padding: 5px 12px;
  border: 2px solid #555555;
  cursor: pointer;
  border-radius: 6px;
}

.button1:hover {
  background-color: #555555;
  color: rgb(255, 255, 255);
} 

